head 
	link(rel="stylesheet" href="/main.css")

footer
	if whiteText
		.container
			.row
				.six.columns
					p © Team Impulse 2020
				.six.columns
					p.right
						a(href='https://minet.co/') 
							| Made with 
							i.far.fa-heart
							|  by MINET
	else
		.container
			.row
				.six.columns
					p.purpletext © Team Impulse 2020
				.six.columns
					p.right.purpletext.respcen
						a.purpletext(href='https://minet.co/') 
							| Made with 
							i.far.fa-heart
							|  by MINET