//- header.container
//-   nav
//-     ul
//-       li
//-         a(href='/') Members
//-       li
//-         a(href='/members') Rules
//-       li
//-         a(href='/events') Impulse
//-       li
//-         a(href='/register') Register
//-       li
//-         a(href='https://enigma.teamimpulse.co.in') Enigma
head 
	link(rel="stylesheet" href="/main.css")


if whiteText
	.container
		nav
			ul
				li
					a(href="/")
						img.navlogo(src="/logo_white.png" alt="")
			ul.textitems   
				li
					a(href="/members") Members
				li
					a(href="/rules") Rules
				li
					a(href="/register") Register
				li
					a(href="/enigma" target="_blank") Enigma

else
	.container
		nav
			ul
				li
					a(href="/")
						img.navlogo(src="/logo.png" alt="")
			ul.textitems.purple 
				li
					a(href="/members") Members
				li
					a(href="/rules") Rules
				li
					a(href="/register") Register
				li
					a(href="/enigma" target="_blank") Enigma