script(type='text/javascript').
	/* 
	Made by Arhaan Bahadur and Aditya Pramar
	Instagram: @arhaan_bahadur , @confidential_name
	Presidents, Team MINET
	(haha clout chahiye 😳)
	*/

doctype html
html
	head
		meta(charset='utf-8')
		title Team Impulse
		meta(charset='utf-8')
		meta(name='author' content='The MINET Team')
		meta(name='description' content="Team Impulse - The Mother's International School's Physics Club")
		meta(name='keywords' content='Team Impulse The Mother\'s International School Make')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="/framework.css")
		link(rel="stylesheet" href="/style.css")
		script(src="https://kit.fontawesome.com/53f1b26a84.js" crossorigin="anonymous")
		//- link(rel='stylesheet' type='text/css' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
		//- link(rel='stylesheet' href='https://use.typekit.net/nqp0fdn.css')
		//- link(rel='stylesheet' type='text/css' href='/css/style.css')
		link(rel='icon' type='image/png' href='/impulse.png')
		link(rel='apple-touch-icon-precomposed' href='/impulse.png')
		meta(name='theme-color' content='#9B5AB6')
	body

		include ./components/header

		block content

		include ./components/footer