extends ../layout

block content
	body#main
		section.container.mainbody
			.six.columns
				h1.maintitle Team Impulse
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
					| standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
					| make a type specimen book.

			.six.columns.vertcenter
				p.right
					img.logomain(src="/white_logo.png" alt="team impulse logo")

		.center
			h1.think Think.