extends ../layout

block content
	h1.center Members
	.container
		.flex-center
			h5.mono.center.member-head Throughout our journey, our members work tremendously hard to organize the annual events of Infinity.
		section#members
			.grid
				.box
					img(src="/team/anirudh.jfif" alt="")
					h1 Anirudh Mishra
					h3 President
				.box
					img(src="/team/arhan.jfif" alt="")
					h1 Arhan Goyal
					h3 President
				.box
					img(src="/team/amish2.jfif" alt="")
					h1 Amish Kansal
					h3 Special Executive
			.flex-center
				.custom-grid
					.flex-center
						.box
							img(src="/team/ap.jpg" alt="")
							h1 Aditya Pramar
							h3 Tech Head
					.flex-center
						.box
							img(src="/team/dp_og.jpg" alt="")
							h1 Arhaan Bahadur
							h3 Tech Head
			.grid
				.box
					h1 Pradyumn Mahajan
					h3 Member
				.box
					h1 Achintya Mohan
					h3 Member
				.box
					h1 Avani Kumar
					h3 Member
				.box
					h1 Hartej Singh
					h3 Member
				.box
					h1 Jaiman Singh 
					h3 Member 
				.box
					h1 Videep Singh
					h3 Member
				.box
					h1 Manas Gupta
					h3 Member
				.box
					h1 Ritwik Chauhan
					h3 Member
				.box
					h1 Ananya Banerjee
					h3 Member