extends ../layout

block content
    head
        title Team Impulse
        link(rel="stylesheet" href="/framework.css")
        meta(name='viewport' content='width=device-width, initial-scale=1')

    body#new

        section.container#impulseinfo            
            .flexforinfo
                .impitem.leftitem
                    h1.titleteam Team
                        br 
                        | Impulse
                    span.mono.white(style="font-size: 1.2em") We are Impulse, the Physics Club of the Mother's International School, and we are excited to bring to you this year's events. Gauntlets that will test your wit and ability to Think. And perhaps, help bring you a step closer to understanding the universe.
                .vert-line
                .impitem.rightitem
                    .allinfo
                        h1.think.center.disp Think.
                        .quote
                            p.center.mono.info 
                                span.mono "In the beginning, the universe was created. This has made a lot of people angry and has widely been regarded as a bad move." 
                                br
                                span.mono Douglas Adams
                            //- br
                        h1.think.center.none Think.
                        p.center    
                            img.thinklogo(src="/think_new.png" alt="")
