extends ../layout 

block content
	.container
		body#success
			section.success-sec
				p.center
					i.far.fa-check-circle(style="font-size: 2em; margin-top: 2em; color: #54cc7e")
				h2.center Enigma 2020
				h4.center.mono Thank you for registering. Your response has been recorded.
				h4.center.mono We will contact you with your credentials shortly.
				br
				br
				h5.center.mono For any queries, contact us
				.flex-center
					div
						h5.center
							a.contact(href="mailto:impulse@themis.in") impulse@themis.in
						h5.center
							a.contact(href="https://instagram.com/teamimpulsemis") @teamimpulsemis